<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="styles/screen.css" type="text/css" />
    </head>
    <body>
        <header>
            <img class="qr" src="https://qr.api.z720.net/qrcode" alt="qrcode vers cette page"/>
            <h1>{{ album.title }}</h1>
        </header>
        <main>
            <ul>
                {{#album.photos}}
                <li>
                    <a href="#">
                        <img src="{{ urls.Small }}" alt={{title}} data-original="{{ urls.Original }}"/>
                    </a>
                </li>
                {{/album.photos}}
            </ul>
        </main>
        <footer>
            <p>{{ today }} - {{ build }}</p>
        </footer>
    </body>
</html>