# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build Docker image

on:
#  schedule:
    # * is a special character in YAML so you have to quote this string
#    - cron:  '30 7,11,17 * * *'
  workflow_dispatch:

  push:
    branches: 
      - main
      - develop
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ main, develop ]

jobs:
  data:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Node LTS versions
      uses: msimerson/node-lts-versions@v1
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    # - run: npm test # There is no test yet
  
  audit:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Node LTS versions
      uses: msimerson/node-lts-versions@v1
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm audit --production

  data:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Node LTS versions
      uses: msimerson/node-lts-versions@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run generate:data
      env: # Or as an environment variable
        FLICKR_API_KEY: ${{ secrets.FLICKR_API_KEY }}
        FLICKR_USER: ${{ secrets.FLICKR_USER }}
        FLICKR_COLLECTION: ${{ secrets.FLICKR_COLLECTION }}
    - uses: actions/upload-artifact@v6
      with:
        name: data
        path: _data/photos.json
        overwrite: true

  image:
    runs-on: ubuntu-latest
    needs:
    - build
    - data
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v6
      - 
        name: Download data File
        uses: actions/download-artifact@v7
        with:
          name: data  
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/z720/photos.z720.net
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=schedule,pattern=nightly
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx 
        uses: docker/setup-buildx-action@v3
      - 
        name: Login to Github Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - 
        name: Build image and push to Docker Hub and GitHub Container Registry
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - 
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
